<html>
    <head>
        <title>Anton`s blog</title>
    </head>
    <body>
        <div>
        <h1><a href="/">ODD blog</a> </h1>
        </div>

        <div>
            <p>published: 05.11.2020, 21:58</p>
            <h2><a href="">My first post</a></h2>
            <p>When something is important enough, you do it even if the odds are not in your favor.</p>
        </div>

        <div>
            <p>published: 05.11.2020, 22:03</p>
            <h2><a href="">My second post</a></h2>
            <p>Some people don't like change, but you need to embrace change if the alternative is disaster.</p>
        </div>
    </body>
</html>